.container {
	width: 95%;
	margin-inline: auto;
	margin-top: calc(var(--h-nav) - 20px);
	background-color: transparent;
	border-radius: var(--radius);
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: clamp(18px, 2vw, 20px);
	letter-spacing: 1px;
}

.name {
	font-size: clamp(25px, 2vw, 30px);
	max-width: 400px;
}

.text b {
	color: var(--clr-accent);
}

.imgWrapper {
	height: 400px;
	border-radius: var(--radius);
}

.loaderWrapper {
	width: max-content;
	margin: 0 auto;
	padding: 50px 0 0 0;
}

.loader {
	display: inline-flex;
	gap: 10px;
}
.loader:before,
.loader:after {
	content: '';
	height: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px
		no-repeat #fff;
	transform: scaleX(var(--s, 1)) rotate(0deg);
	animation: l6 1s infinite linear;
}
.loader:after {
	--s: -1;
	animation-delay: -0.1s;
}
@keyframes l6 {
	100% {
		transform: scaleX(var(--s, 1)) rotate(360deg);
	}
}

@media (width > 900px) {
	.container {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 40px;
		background-color: var(--hover);
	}
}
