.circle {
	width: 200px;
	height: 200px;
	background-color: var(--white);
	background-color: var(--clr-accent);
	border-radius: 50%;
	filter: blur(100px);
	opacity: 50%;
	position: absolute;

	z-index: 98;
	animation: c ease 3s infinite alternate;
}

.positionLeft {
	top: 0;
	left: 0;
}
.positionRight {
	bottom: 0;
	right: 0;
}

@keyframes c {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.8;
	}
}
